<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>MediPlus</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AppointmentServlet</display-name>
    <servlet-name>AppointmentServlet</servlet-name>
    <servlet-class>pkg1.AppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentServlet</servlet-name>
    <url-pattern>/AppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchAppointmentServlet</display-name>
    <servlet-name>SearchAppointmentServlet</servlet-name>
    <servlet-class>pkg1.SearchAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAppointmentServlet</servlet-name>
    <url-pattern>/SearchAppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAppointmentServlet</display-name>
    <servlet-name>EditAppointmentServlet</servlet-name>
    <servlet-class>pkg1.EditAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAppointmentServlet</servlet-name>
    <url-pattern>/EditAppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAppointmentservlet</display-name>
    <servlet-name>DeleteAppointmentservlet</servlet-name>
    <servlet-class>pkg1.DeleteAppointmentservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAppointmentservlet</servlet-name>
    <url-pattern>/DeleteAppointmentservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAppointmentServlet</display-name>
    <servlet-name>UpdateAppointmentServlet</servlet-name>
    <servlet-class>pkg1.UpdateAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAppointmentServlet</servlet-name>
    <url-pattern>/UpdateAppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportAllServlet</display-name>
    <servlet-name>ExportAllServlet</servlet-name>
    <servlet-class>pkg1.ExportAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportAllServlet</servlet-name>
    <url-pattern>/ExportAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportIndividualServlet</display-name>
    <servlet-name>ExportIndividualServlet</servlet-name>
    <servlet-class>pkg1.ExportIndividualServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportIndividualServlet</servlet-name>
    <url-pattern>/ExportIndividualServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>pkg1.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet2</display-name>
    <servlet-name>LoginServlet2</servlet-name>
    <servlet-class>pkg1.LoginServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet2</servlet-name>
    <url-pattern>/LoginServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAllUsers</display-name>
    <servlet-name>DisplayAllUsers</servlet-name>
    <servlet-class>pkg1.DisplayAllUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllUsers</servlet-name>
    <url-pattern>/DisplayAllUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAllServlet</display-name>
    <servlet-name>DisplayAllServlet</servlet-name>
    <servlet-class>pkg1.DisplayAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllServlet</servlet-name>
    <url-pattern>/DisplayAllServlet</url-pattern>
  </servlet-mapping>
</web-app>